* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}
img {
    vertical-align: top;
}
.wrap {
    width: 560px;
    margin: 0px auto;
    background-color: aqua;
}
.header {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin: 0 auto;
    background-color: olive;
}
.header-logo img {
    width: 150px;
}
.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.header-btn {
    display: flex;
    gap: 5px;
}
.header-btn a {
    display: block;
    background-color: #ccc;
    padding: 5px;
    font-size: 14px;
    font-weight: 300;
}
.add-page-box {
    width: 100%;
    background-color: #ddd;
}
.add-page-header {
    width: 100%;
    box-sizing: border-box;
    padding: 5px 0;
    padding-left: 10px;
    background-color: #ccc;
    margin-bottom: 20px;
}
.add-page-header h2 {
    font-size: 20px;
    font-weight: 500;
}
.add-page-text {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
}

.title-box {
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 30px;
}
.add-pagetext {
    height: 200px;
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 30px;
}
.add-icon {
    background-color: #ccc;
    width: 100%;
}
.icon-text p {
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    font-size: 16px;
    font-weight: 700;
    padding: 5px 0;
    padding-left: 10px;
    margin-bottom: 30px;
}
.icon-btn {
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}
.icon-btn button {
    padding: 3px;
}
.add-file {
    background-color: #eee;
}
.add-archive {
    color: white;
    background-color: #666;
}
.icon-flex {
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 200px;
}
.icon-check {
    margin-bottom: 5px;
}
.add-text {
    padding: 5px;
    color: white;
    background-color: #666;
}
.footer {
    width: 100%;
    background-color: olive;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 5px 0;
    font-weight: 500;
}
.login {
    display: flex;
    gap: 10px;
    padding-left: 10px;
}
.footer-text {
    display: flex;
    padding-right: 10px;
    gap: 10px;
}
